*
{
    font-family: "Lucida Console";
}

html, body
{
    /* From https://uigradients.com*/
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
}

#header-container
{
    width: 100vw;
    color: #EBEBFF;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#header-container h1
{
    margin: 8px auto;
}

#etch-sketch
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    height: 600px;
    background-color: black;
    margin: 20px auto;
}

.row
{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.box
{
    flex-grow: 1;
    background-color: white;
}
