*
{
    font-family: "Lucida Console";
}

html, body
{
    background-color: #F1FFFB;
    margin: 0;
}

.box
{
    display: inline-block;
    background-color: black;
}

#box-container
{
    min-width: 350px;
    width: 95vw;
    height: 85vh;
    background-color: #A8EAFF;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    margin: 5px auto;
}

#header-container
{
    width: 100vw;
    color: #061A26;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
